@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  html {
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: clamp(1.12rem, 0.21vw + 1.1rem, 1.25rem);
  }

  body {
    @apply text-gray-300 font-light;
    background: rgb(35, 33, 44);
  }
  h1 {
    color: white;
    size: 2.8rem;
    font-weight: 800;
  }
}
